/*tamaño de las imagen*/
.img-20{
  width: 20px;
  height: 20px;
}
.img-100{
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.img-200{
  width: 200px;
  height: 200px;

}
