extends ./base.jade
block principal
    .media
      a(href="#",class="pull-left")
        img(src="img/certificacion/desarrollo-web-activate.png", alt="certificacion-desarrollo-web-activate",class="media-object img-200")
      .media-body
          h4.media-heading certificación desarrollo web activate
          | curso de desarrollo web de la iniciativa activate
          |  apoyada por google
          
        
      
