extends ./base.jade
block principal
      .row
        .col-sm-6.col-md-3
          .thumbnail
            img(src="img/agraf_pagina.png", alt="pagina agraf")
      
            .caption
              h5 Pagina web  Agraf
              p
                | desarrollada por la empresa 
                a(href="http://agrafltda.com/", class="label-info",target="_blank") agrafltda
        .col-sm-6.col-md-3
          .thumbnail
                  a(href="http://edgarduarte18.260mb.org/", class="label-primary",target="_blank")
                      img(src="img/edgarduarte.png", alt="edgarduarte")
                    .caption
                        h5 Pagina web personal
                        p
                          | desarrollada siguiendo tutorial responsive web design
                                 
                
                
                  
               
                
